* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: monospace, sans-serif;

  --primary-color: rgb(36, 130, 252);
  --secondary-color: rgb(235, 235, 235);
  --danger-color: #ff3e3e;
  --success-color: #06971e;
}

html {
  font-size: 50%;
  /* 1rem = 8px */
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: black;
}

/* Button */
button {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  position: relative;
  background: transparent;
  padding: 1rem;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  font-weight: 700;
  font-family: inherit;
  transition: all 0.1s ease-in-out;
  font-size: 2rem;
}

button:disabled {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

button.primary {
  background: var(--primary-color);
  color: white;
}

button.primary:hover {
  filter: brightness(85%);
}

button.secondary {
  background: var(--secondary-color);
  color: black;
}

button.secondary:hover {
  filter: brightness(85%);
}

button.danger {
  background: var(--danger-color);
  color: white;
}

button.danger:hover {
  filter: brightness(85%);
}

button.minimal {
  background: transparent;
  color: black;
}

button.minimal:hover {
  background: rgb(226, 226, 226);
}

button.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--secondary-color);
}

button.icon:hover {
  filter: brightness(85%);
}

button.loading {
  pointer-events: none;
  opacity: 0.7;
}

button.loading::before {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border: .25rem solid white;
  border-top: .25rem solid transparent;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  left: 5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

button.underline {
  display: flex;
  align-items: center;
}

button.underline:hover {
  background: transparent;
  text-decoration: underline;
}

/* Input */
input[type="text"],
input[type="password"],
input[type="date"] {
  background: none;
  border: none;
  padding: 1.5rem;
  font-family: inherit;
  font-size: 2.25rem;
  font-weight: 700;
  background: var(--secondary-color);
  border-radius: 1rem;
  outline: .25rem solid transparent;
  outline-offset: .25rem;
  width: 100%;
  min-width: 300px;
  transition: all 0.2s ease-in-out;
}

input:focus {
  outline-color: var(--primary-color);
}

input.danger {
  outline-color: var(--danger-color);
}

/* Hr */
hr {
  border: 1.5px solid var(--secondary-color);
  width: 100%;
}

/* Layouts */
.container {
  max-width: 96rem;
  margin: 0 auto;
  padding: 1rem;
}

.row-1 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
}

.row-2 {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
}

.col-1 {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Header */
header .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8rem;
}

main {
  flex: 1;
  display: flex;
}

/* Logo */
.logo {
  font-size: 3rem;
}

/* Toolbar */
.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 1rem;
  transition: all 0.3s ease-in-out;
}

.user-tool,
.origin-tool {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

/* Modal */
.modal {
  z-index: 10000;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  max-width: 96rem;
  background-color: white;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: start;
  transition: all .2s ease-in-out;

}

.modal .modal-content {
  flex-grow: 1;
}

.modal.open {
  transform: translateY();
  visibility: visible;
  transform: translate(-50%, -50%);
}

/* Menu */
.menu {
  padding: 3rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.menu-title {
  font-weight: 700;
  font-size: 3rem;
}

.main-menu {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
}

/* Form */
.form {
  padding: 3rem 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}

.form-title {
  font-weight: 700;
  padding: 2rem 0;
  font-size: 3rem;
}

.main-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 0;
  position: relative;
  transition: all .2s ease-in-out;
}

.form-action {
  width: 100%;
  padding: 2rem 0;
}

.form-action button:last-child {
  height: 6rem;
  width: 100%;
}

.form-other {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  font-size: 2rem;
}

.main-form .message {
  padding: 1rem;
  font-size: 2rem;
  color: #333;
  font-weight: 700;
  visibility: hidden;
  transition: all 0.2s ease-in-out;
  position: absolute;
  width: 100%;
}

.main-form .message.danger {
  color: var(--danger-color);
  position: relative;
  visibility: visible;
}

.main-form .message.success {
  color: var(--success-color);
  position: relative;
  visibility: visible;
}

/* Login form */
.login-form {
  padding: 24px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 8px;
}

/* Others */
.account-tool,
.origin-tool {
  display: none;
}

.group {
  position: relative;
}

main .container {
  position: relative;
  flex: 1;
}

.btn-add-task {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 24px 24px 0;
}

/* Task */
.task-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 200px;
  align-items: start;
}

.tasks {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.task {
  padding: 2rem;
  border-radius: 1rem;
  border: 2px solid var(--secondary-color);
}

.custom-checkbox {
  display: none;
}

.custom-label {
  display: flex;
  align-items: start;
  cursor: pointer;
  position: relative;
  padding-left: 4rem;
  font-size: 2rem;
  font-weight: 700;
}

.custom-label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2rem;
  height: 2rem;
  border: 2px solid #333;
  border-radius: 2rem;
  background: #fff;
  transition: all 0.2s ease-in-out;
}

.custom-checkbox:checked+.custom-label::before {
  background: #4caf50;
  border-color: #4caf50;
}

.custom-checkbox:checked+.custom-label {
  text-decoration: line-through;
  color: #7e7e7e;
}